<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Crowdfund</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/assets/images/favicon.png" rel="icon">
  <link href="/assets/images/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/animate.min.css" rel="stylesheet">
  <link href="/assets/css/ionicons.min.css" rel="stylesheet">
  <link href="/assets/js/owl/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/assets/css/style.css" rel="stylesheet">

</head>

<body>
  <script type="text/javascript">
    var apiUrl = "http://localhost:8789/api/"

  </script>

  <div class="click-closed"></div>


  <!--/ Nav Star /-->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="index.html">Building<span class="color-b">Block</span></a>
     
      

    </div>
  </nav>
  <!--/ Nav End /-->

     {{ content | safe }}
    
  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery-migrate.min.js"></script>
  <script src="/assets/js/popper.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/easing.min.js"></script>
  <script src="/assets/js/owl/owl.carousel.min.js"></script>
  <script src="/assets/js/scrollreveal.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="/assets/js/main.js"></script>
  
</body>
</html>
